.history
.vscode/settings.json

.env

backend/source/node_modules
backend/source/build
backend/source/dist
backend/source/tmp

frontend/source/node_modules
frontend/source/build
frontend/source/dist
frontend/source/tmp
frontend/source/src/clients/**/*.jar
frontend/source/src/clients/**/.openapi-generator

postgres
.DS_Store